* {
  margin: 0;
  padding: 0;
}
.header {
  background: black;
  color: white;
  font-size: 24px;
  padding: 20px 0;
  text-align: center;
  display: flex;
  justify-content: center;
}
.main {
  background: #fff;
  padding: 0 30px 30px;
}
.pagetitle {
  font-size: 40px;
  padding: 50px 0;
  text-align: center;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content .section {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.content .aside {
  min-width: 250px;
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.table thead tr {
  border-bottom: 3px solid #eee;
}
.table thead tr th {
  text-align: left;
  padding-bottom: 10px;
  text-transform: uppercase;
  color: #666;
}
.table tbody tr {
  border-bottom: 3px solid #eee;
}
.table tbody tr:last-child {
  border: 0;
}
.table tbody tr td {
  padding: 30px 0;
}
.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.product img {
  border-radius: 6px;
}
.product .info {
  margin-left: 20px;
}
.product .info .name {
  font-size: 20px;
  margin-bottom: 10px;
}
.summari {
  flex: 0 0 auto;
}
.table .section {
  display: flex;
  flex: 1;
}

.btn {
  border: 1px solid black;
  width: 20px;
}
