@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "poppins", sans-serif;
}
.register {
  text-align: center;
}
.register p {
  color: aliceblue;
}

.register h2 {
  font-size: 60px;
  text-transform: uppercase;
  background: linear-gradient(45deg, #50e469, #19852b, #059429, #50e469);
  background-size: 400% 100%;
  animation: degrade 10s linear infinite alternate;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@keyframes degrade {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position: 400%;
  }
}
