.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  max-width: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.form_input {
  margin-right: 10px;
  width: 60%;
}
.nooposts {
  text-align: center;
}

.nooposts p {
  margin-bottom: 1.5em;
}

.topo {
  padding: 40px 4%;
  max-width: 45%;
}
.topo flex {
  align-items: center;
  justify-content: center;
  gap: 90px;
}
.topo h1 {
  font-size: 38px;
}
.topo h1 span {
  color: #00ff08;
}
.flex {
  display: flex;
}
.btn {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: black;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  color: white;
}

.btn:hover {
  box-shadow: 0px 0px 8px black;
  transform: scale(1.05);
}
.img {
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}
@keyframes flutuar {
  0% {
    top: 0;
  }
  100% {
    top: 30px;
  }
}

.especialidades {
  padding: 40px 4%;
}
.especialidades .flex {
  gap: 60px;
}

.titulo {
  font-size: 38px;
  text-align: center;
  justify-content: center;
}

.titulo span {
  color: #00a505;
}
.especialidades .box {
  padding: 40px;
  border-radius: 20px;

  margin-top: 45px;
  transition: 0.2s;
}
.especialidades .box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 8px black;
}
.especialidades .box .icon {
  font-size: 50px;
  color: #00a505;
  position: relative;
}
.especialidades .box h3 {
  font-size: 28px;
  margin: 15px;
}
