* {
  margin: 0;
  padding: 0;
}
.card {
  margin: 15px;
  flex-direction: column;
  padding: 15px;
}

.btn {
  box-shadow: 0px 0px 8px black;
  transform: scale(1.05);
  padding: 10px 40px;
  font-size: 10px;
  font-weight: 600;
  background-color: rgb(87, 87, 87);
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  color: white;
}
